@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
body{
    background: #fffff8;
    font-family: 'Open Sans', sans-serif;
}

#app{
    background: #eee;
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding: 50px 0
}

.holder{
    margin: 10px auto
}

.entry{
    background: rgba(59, 74, 107, .4);
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    color: white;
    text-align: left;
}

#entryHolder div{
    margin: 5px 0;
}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input, textarea{
    display:block;
    width: 320px;
    background:#fff;
    border: 1px solid #efefef;
    color: #000000;
    font-size: 20px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px 
}

button{
    width: auto;
    height: auto;
    padding: 10px 30px;
    border-radius: 6px;
    background: #4569a7;
    color: #fff;
    box-shadow: none;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin: 10px 0;
    cursor: pointer
}
h1{
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #eee; 

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
} 